@charset "utf-8";
/* CSS Document */

/*****************************************************************************
*
*  PROJECT:     Creating Interactive Web pages with a Controlled Layout
*  LICENSE:     See LICENSE in the top level directory
*  FILE:        public_html/styles/contact.css
*  PURPOSE:     Contact page style
*  DEVELOPERS:  Gabriel Gauci Maistre <scarface@potholestudios.com>
*
*****************************************************************************/

/* This rule affects all h2 tags. */
h2
	{
		width:100%;
		float:left;
		padding:10px 0px 10px 0px;
	}
	
/* This rule affects the Google Maps canvas. */
#map-canvas 
	{ 
		height:500px;
		width:auto;
		padding:0px 0px 10px 0px;
	}

#mailto
	{
		background:no-repeat;
		display:block;
		margin-left:auto;
		margin-right:auto;
		height:20px;
		width:103px;
		padding: 10px 0px 0px 0px;
	}